@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

@font-face {
  font-family: 'Galano Grotesque';
  src: url('./assets/GalanoGrotesqueAltRegular.otf');
  font-weight: normal;
  font-style: normal;
}

#root {
  /* text-align: center; */
}
